<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Добавление расходов</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>

<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">На главную</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="expense/information">Узнать расходы</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="income/information">Узнать доходы</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="expense/add">Добавить расходы</a>
        <a class="py-2 text-dark text-decoration-none" href="income/add">Добавить доходы</a>
    </nav>
</div>

<div class="container" mt-5>

    <h1> Добавление расходов </h1>
    <form action="/expense/add" method="post">
        <input type="date" name="date" class="form-control">
        <input type="number" min="1" step="any" name="money" placeholder="Введите количество потраченных вами денег" class="form-control">
        <input type="text" name="reason" placeholder="Введите причину трат" class="form-control">
        <button type="submit" class="btn btn-success"> Добавить расходы</button>
    </form>

</div>


</body>
</html>